{
  "extends": [
    "egg"
  ],
  "globals": {
    "$": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "no-bitwise": [
      0
    ],
    "linebreak-style": 0
  }
}
